body{
  margin:0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #121212;
  background: #707174;
}

.main{
  width: 100%;
  max-width: 980px;
  margin: 20px auto 90px;
  padding: 0 10px;
}